# Node.js-specific exclusions
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp

# Build/Compiled output
dist/
build/

# Coverage directory used by testing frameworks like Jest
coverage/

# Temporary files
tmp/
temp/
*.tmp

# Debugging tools
.vscode/launch.json

# Docker-related exclusions
docker-compose.override.yml
.dockerignore
Dockerfile*
.env.docker
*.docker
docker-data/